<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.TRSolution.trsIbp.biz.mapper.BizMapper">

    <resultMap id="bizResultMap" type="bizVO">
        <id     property="bizSn"            column="BIZ_SN"/>
        <result property="coId"             column="CO_ID"/>
        <result property="bizNm"            column="BIZ_NM"/>
        <result property="dtlBizNm"         column="DTL_BIZ_NM"/>
        <result property="ctrtYmd"          column="CTRT_YMD"/>
        <result property="bizBgngYmd"       column="BIZ_BGNG_YMD"/>
        <result property="bizEndYmd"        column="BIZ_END_YMD"/>
        <result property="ctrtAmt"          column="CTRT_AMT"/>
        <result property="vatInclYn"        column="VAT_INCL_YN"/>
        <result property="bizPrgrsStepCd"   column="BIZ_PRGRS_STEP_CD"/>
        <result property="bizSttsCd"        column="BIZ_STTS_CD"/>
        <result property="rmrkCn"           column="RMRK_CN"/>
        <result property="useYn"            column="USE_YN"/>
        <result property="rgtrId"           column="RGTR_ID"/>
        <result property="regDt"            column="REG_DT"/>
        <result property="mdfrId"           column="MDFR_ID"/>
        <result property="mdfcnDt"          column="MDFCN_DT"/>

        <result property="custSn"           column="CUST_SN"/>
        <result property="custCoNm"         column="CUST_CO_NM"/>
        <result property="custSeCd"         column="CUST_SE_CD"/>
        <result property="brno"             column="BRNO"/>
        <result property="rprsvNm"          column="RPRSV_NM"/>
        <result property="telno"            column="TELNO"/>
        <result property="addr"             column="ADDR"/>
        <result property="daddr"            column="DADDR"/>

        <result property="bizCustRelSn"     column="BIZ_CUST_REL_SN"/>
        <result property="relSeCd"          column="REL_SE_CD"/>
        <result property="relLvl"           column="REL_LVL"/>
        <result property="relSortSeq"       column="REL_SORT_SEQ"/>
        <result property="directCtrtYn"     column="DIRECT_CTRT_YN"/>
        <result property="ourCoYn"          column="OUR_CO_YN"/>

        <result property="bizMnpwSn"        column="BIZ_MNPW_SN"/>
        <result property="userId"           column="USER_ID"/>
        <result property="inputMnpwNm"      column="INPUT_MNPW_NM"/>
        <result property="inputSeCd"        column="INPUT_SE_CD"/>
        <result property="roleNm"           column="ROLE_NM"/>
        <result property="jbpsNm"           column="JBPS_NM"/>
        <result property="inputBgngYmd"     column="INPUT_BGNG_YMD"/>
        <result property="inputEndYmd"      column="INPUT_END_YMD"/>
        <result property="inputMcnt"        column="INPUT_MCNT"/>
        <result property="untprc"           column="UNTPRC"/>

        <result property="bizCstSn"         column="BIZ_CST_SN"/>
        <result property="cstSeCd"          column="CST_SE_CD"/>
        <result property="cstNm"            column="CST_NM"/>
        <result property="ocrnCst"          column="OCRN_CST"/>
        <result property="ocrnYmd"          column="OCRN_YMD"/>

        <result property="bizSchdlSn"       column="BIZ_SCHDL_SN"/>
        <result property="schdlNm"          column="SCHDL_NM"/>
        <result property="schdlCn"          column="SCHDL_CN"/>
        <result property="schdlSeCd"        column="SCHDL_SE_CD"/>
        <result property="schdlBgngYmd"     column="SCHDL_BGNG_YMD"/>
        <result property="schdlEndYmd"      column="SCHDL_END_YMD"/>
        <result property="picId"            column="PIC_ID"/>

        <result property="bizPrgrsStepNm"   column="BIZ_PRGRS_STEP_NM"/>
        <result property="bizSttsNm"        column="BIZ_STTS_NM"/>
        <result property="custSeNm"         column="CUST_SE_NM"/>
        <result property="relSeNm"          column="REL_SE_NM"/>
        <result property="inputSeNm"        column="INPUT_SE_NM"/>
        <result property="cstSeNm"          column="CST_SE_NM"/>
        <result property="schdlSeNm"        column="SCHDL_SE_NM"/>
        <result property="picNm"            column="PIC_NM"/>
        <result property="userNm"           column="USER_NM"/>

        <result property="directCstSum"     column="DIRECT_CST_SUM"/>
        <result property="laborCstSum"      column="LABOR_CST_SUM"/>
        <result property="totalCstSum"      column="TOTAL_CST_SUM"/>
        <result property="profitAmt"        column="PROFIT_AMT"/>
        <result property="profitRate"       column="PROFIT_RATE"/>
    </resultMap>

    <sql id="bizCodeNameColumns">
         CASE B.BIZ_PRGRS_STEP_CD
            WHEN 'PRE_WORK' THEN '사전작업'
            WHEN 'ORDER' THEN '수주'
            WHEN 'CLOSE' THEN '종료'
            WHEN 'FREE_MAINT' THEN '무상유지보수'
            WHEN 'PAID_MAINT' THEN '유상유지보수'
            ELSE B.BIZ_PRGRS_STEP_CD
         END AS BIZ_PRGRS_STEP_NM
        ,CASE B.BIZ_STTS_CD
            WHEN 'READY' THEN '준비'
            WHEN 'PRGRS' THEN '진행'
            WHEN 'CMPTN' THEN '완료'
            WHEN 'HOLD' THEN '보류'
            WHEN 'CANCEL' THEN '취소'
            ELSE B.BIZ_STTS_CD
         END AS BIZ_STTS_NM
    </sql>

    <sql id="bizSearchWhere">
        WHERE B.USE_YN = 'Y'
        <if test="coId != null and coId != ''">
            AND B.CO_ID = #{coId}
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
                B.BIZ_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR B.DTL_BIZ_NM LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        <if test="searchBizPrgrsStepCd != null and searchBizPrgrsStepCd != ''">
            AND B.BIZ_PRGRS_STEP_CD = #{searchBizPrgrsStepCd}
        </if>
        <if test="searchBizSttsCd != null and searchBizSttsCd != ''">
            AND B.BIZ_STTS_CD = #{searchBizSttsCd}
        </if>
        <if test="startYmd != null and startYmd != ''">
            AND B.BIZ_BGNG_YMD <![CDATA[>=]]> #{startYmd}
        </if>
        <if test="endYmd != null and endYmd != ''">
            AND B.BIZ_END_YMD <![CDATA[<=]]> #{endYmd}
        </if>
    </sql>

    <select id="selectBizList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             B.BIZ_SN
            ,B.CO_ID
            ,B.BIZ_NM
            ,B.DTL_BIZ_NM
            ,B.CTRT_YMD
            ,B.BIZ_BGNG_YMD
            ,B.BIZ_END_YMD
            ,B.CTRT_AMT
            ,B.VAT_INCL_YN
            ,B.BIZ_PRGRS_STEP_CD
            ,B.BIZ_STTS_CD
            ,B.RMRK_CN
            ,B.USE_YN
            ,B.RGTR_ID
            ,DATE_FORMAT(B.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
            ,B.MDFR_ID
            ,DATE_FORMAT(B.MDFCN_DT, '%Y-%m-%d %H:%i:%s') AS MDFCN_DT
            ,<include refid="bizCodeNameColumns"/>
            ,IFNULL(CST.DIRECT_CST_SUM, 0) AS DIRECT_CST_SUM
            ,IFNULL(MNPW.LABOR_CST_SUM, 0) AS LABOR_CST_SUM
            ,IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0) AS TOTAL_CST_SUM
            ,B.CTRT_AMT - (IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0)) AS PROFIT_AMT
            ,CASE
                WHEN B.CTRT_AMT = 0 THEN 0
                ELSE ROUND((B.CTRT_AMT - (IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0))) / B.CTRT_AMT * 100, 2)
             END AS PROFIT_RATE
        FROM biz_info B
        LEFT JOIN (
            SELECT BIZ_SN, SUM(OCRN_CST) AS DIRECT_CST_SUM
            FROM biz_cst
            WHERE USE_YN = 'Y'
            GROUP BY BIZ_SN
        ) CST ON B.BIZ_SN = CST.BIZ_SN
        LEFT JOIN (
            SELECT BIZ_SN, SUM(INPUT_MCNT * UNTPRC) AS LABOR_CST_SUM
            FROM biz_mnpw
            WHERE USE_YN = 'Y'
            GROUP BY BIZ_SN
        ) MNPW ON B.BIZ_SN = MNPW.BIZ_SN
        <include refid="bizSearchWhere"/>
        ORDER BY B.BIZ_SN DESC
        <if test="recordCountPerPage != null and recordCountPerPage != 0">
            LIMIT #{firstIndex}, #{recordCountPerPage}
        </if>
    </select>

    <select id="selectBizListCnt" parameterType="bizVO" resultType="int">
        SELECT COUNT(1)
        FROM biz_info B
        <include refid="bizSearchWhere"/>
    </select>

    <select id="selectBizDetail" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             B.*
            ,DATE_FORMAT(B.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
            ,DATE_FORMAT(B.MDFCN_DT, '%Y-%m-%d %H:%i:%s') AS MDFCN_DT
            ,<include refid="bizCodeNameColumns"/>
        FROM biz_info B
        WHERE B.BIZ_SN = #{bizSn}
          AND B.USE_YN = 'Y'
    </select>

    <insert id="insertBiz" parameterType="bizVO" useGeneratedKeys="true" keyProperty="bizSn">
        INSERT INTO biz_info (
             CO_ID, BIZ_NM, DTL_BIZ_NM, CTRT_YMD, BIZ_BGNG_YMD, BIZ_END_YMD
            ,CTRT_AMT, VAT_INCL_YN, BIZ_PRGRS_STEP_CD, BIZ_STTS_CD
            ,RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{coId}, #{bizNm}, #{dtlBizNm}, #{ctrtYmd}, #{bizBgngYmd}, #{bizEndYmd}
            ,IFNULL(#{ctrtAmt}, 0), IFNULL(#{vatInclYn}, 'Y'), IFNULL(#{bizPrgrsStepCd}, 'PRE_WORK'), IFNULL(#{bizSttsCd}, 'READY')
            ,#{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateBiz" parameterType="bizVO">
        UPDATE biz_info
        SET
             BIZ_NM = #{bizNm}
            ,DTL_BIZ_NM = #{dtlBizNm}
            ,CTRT_YMD = #{ctrtYmd}
            ,BIZ_BGNG_YMD = #{bizBgngYmd}
            ,BIZ_END_YMD = #{bizEndYmd}
            ,CTRT_AMT = IFNULL(#{ctrtAmt}, 0)
            ,VAT_INCL_YN = IFNULL(#{vatInclYn}, 'Y')
            ,BIZ_PRGRS_STEP_CD = #{bizPrgrsStepCd}
            ,BIZ_STTS_CD = #{bizSttsCd}
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE BIZ_SN = #{bizSn}
    </update>

    <update id="deleteBiz" parameterType="bizVO">
        UPDATE biz_info
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE BIZ_SN = #{bizSn}
    </update>

    <select id="selectCustList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             C.*
            ,CASE C.CUST_SE_CD
                WHEN 'PUBLIC' THEN '공공'
                WHEN 'PRIVATE' THEN '민간'
                ELSE C.CUST_SE_CD
             END AS CUST_SE_NM
            ,DATE_FORMAT(C.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
            ,DATE_FORMAT(C.MDFCN_DT, '%Y-%m-%d %H:%i:%s') AS MDFCN_DT
        FROM cust_info C
        WHERE C.USE_YN = 'Y'
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
                C.CUST_CO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR C.BRNO LIKE CONCAT('%', #{searchKeyword}, '%')
                OR C.RPRSV_NM LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        <if test="searchCustSeCd != null and searchCustSeCd != ''">
            AND C.CUST_SE_CD = #{searchCustSeCd}
        </if>
        ORDER BY C.CUST_CO_NM ASC
    </select>

    <select id="selectCustDetail" parameterType="bizVO" resultMap="bizResultMap">
        SELECT C.*
        FROM cust_info C
        WHERE C.CUST_SN = #{custSn}
          AND C.USE_YN = 'Y'
    </select>

    <insert id="insertCust" parameterType="bizVO" useGeneratedKeys="true" keyProperty="custSn">
        INSERT INTO cust_info (
             CUST_CO_NM, CUST_SE_CD, BRNO, RPRSV_NM, TELNO, ADDR, DADDR
            ,RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{custCoNm}, #{custSeCd}, #{brno}, #{rprsvNm}, #{telno}, #{addr}, #{daddr}
            ,#{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateCust" parameterType="bizVO">
        UPDATE cust_info
        SET
             CUST_CO_NM = #{custCoNm}
            ,CUST_SE_CD = #{custSeCd}
            ,BRNO = #{brno}
            ,RPRSV_NM = #{rprsvNm}
            ,TELNO = #{telno}
            ,ADDR = #{addr}
            ,DADDR = #{daddr}
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE CUST_SN = #{custSn}
    </update>

    <update id="deleteCust" parameterType="bizVO">
        UPDATE cust_info
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE CUST_SN = #{custSn}
    </update>

    <select id="selectBizCustRelList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             R.*
            ,R.SORT_SEQ AS REL_SORT_SEQ
            ,C.CUST_CO_NM
            ,C.CUST_SE_CD
            ,C.BRNO
            ,C.RPRSV_NM
            ,C.TELNO
            ,CASE
                WHEN R.REL_SE_CD = 'END_USER' THEN '최종 발주처'
                WHEN R.REL_SE_CD = 'PRIME_CTRTR' THEN '1차 계약자'
                WHEN R.REL_SE_CD = 'SUB_CTRTR' AND R.REL_LVL >= 2 THEN CONCAT('하도급 ', R.REL_LVL - 1, '차')
                WHEN R.REL_SE_CD = 'SUB_CTRTR' THEN '하도급사'
                WHEN R.REL_SE_CD = 'OUR_CO' THEN '우리 회사'
                ELSE '기타'
             END AS REL_SE_NM
        FROM biz_cust_rel R
        INNER JOIN cust_info C ON R.CUST_SN = C.CUST_SN AND C.USE_YN = 'Y'
        WHERE R.BIZ_SN = #{bizSn}
          AND R.USE_YN = 'Y'
        ORDER BY R.SORT_SEQ ASC, R.REL_LVL ASC, R.BIZ_CUST_REL_SN ASC
    </select>

    <insert id="insertBizCustRel" parameterType="bizVO" useGeneratedKeys="true" keyProperty="bizCustRelSn">
        INSERT INTO biz_cust_rel (
             BIZ_SN, CUST_SN, REL_SE_CD, REL_LVL, SORT_SEQ, DIRECT_CTRT_YN, OUR_CO_YN
            ,RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{bizSn}, #{custSn}, #{relSeCd}, IFNULL(#{relLvl}, 0), IFNULL(#{relSortSeq}, 1), IFNULL(#{directCtrtYn}, 'N'), IFNULL(#{ourCoYn}, 'N')
            ,#{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateBizCustRel" parameterType="bizVO">
        UPDATE biz_cust_rel
        SET
             CUST_SN = #{custSn}
            ,REL_SE_CD = #{relSeCd}
            ,REL_LVL = IFNULL(#{relLvl}, 0)
            ,SORT_SEQ = IFNULL(#{relSortSeq}, 1)
            ,DIRECT_CTRT_YN = IFNULL(#{directCtrtYn}, 'N')
            ,OUR_CO_YN = IFNULL(#{ourCoYn}, 'N')
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE BIZ_CUST_REL_SN = #{bizCustRelSn}
    </update>

    <update id="deleteBizCustRel" parameterType="bizVO">
        UPDATE biz_cust_rel
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE BIZ_CUST_REL_SN = #{bizCustRelSn}
    </update>

    <select id="selectBizMnpwList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             M.*
            ,U.USER_NM
            ,CASE M.INPUT_SE_CD
                WHEN 'MAIN' THEN '정'
                WHEN 'SUB' THEN '부'
                WHEN 'CONTRACT' THEN '계약직'
                WHEN 'OUTSRC' THEN '외주'
                ELSE M.INPUT_SE_CD
             END AS INPUT_SE_NM
            ,CASE M.BIZ_PRGRS_STEP_CD
                WHEN 'PRE_WORK' THEN '사전작업'
                WHEN 'ORDER' THEN '수주'
                WHEN 'CLOSE' THEN '종료'
                WHEN 'FREE_MAINT' THEN '무상유지보수'
                WHEN 'PAID_MAINT' THEN '유상유지보수'
                ELSE M.BIZ_PRGRS_STEP_CD
             END AS BIZ_PRGRS_STEP_NM
        FROM biz_mnpw M
        LEFT JOIN user_info U ON M.USER_ID = U.USER_ID
        WHERE M.BIZ_SN = #{bizSn}
          AND M.USE_YN = 'Y'
        ORDER BY M.INPUT_BGNG_YMD ASC, M.BIZ_MNPW_SN ASC
    </select>

    <insert id="insertBizMnpw" parameterType="bizVO" useGeneratedKeys="true" keyProperty="bizMnpwSn">
        INSERT INTO biz_mnpw (
             BIZ_SN, USER_ID, INPUT_MNPW_NM, INPUT_SE_CD, BIZ_PRGRS_STEP_CD
            ,ROLE_NM, JBPS_NM, INPUT_BGNG_YMD, INPUT_END_YMD, INPUT_MCNT, UNTPRC
            ,RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{bizSn}, #{userId}, #{inputMnpwNm}, #{inputSeCd}, #{bizPrgrsStepCd}
            ,#{roleNm}, #{jbpsNm}, #{inputBgngYmd}, #{inputEndYmd}, IFNULL(#{inputMcnt}, 0), IFNULL(#{untprc}, 0)
            ,#{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateBizMnpw" parameterType="bizVO">
        UPDATE biz_mnpw
        SET
             USER_ID = #{userId}
            ,INPUT_MNPW_NM = #{inputMnpwNm}
            ,INPUT_SE_CD = #{inputSeCd}
            ,BIZ_PRGRS_STEP_CD = #{bizPrgrsStepCd}
            ,ROLE_NM = #{roleNm}
            ,JBPS_NM = #{jbpsNm}
            ,INPUT_BGNG_YMD = #{inputBgngYmd}
            ,INPUT_END_YMD = #{inputEndYmd}
            ,INPUT_MCNT = IFNULL(#{inputMcnt}, 0)
            ,UNTPRC = IFNULL(#{untprc}, 0)
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE BIZ_MNPW_SN = #{bizMnpwSn}
    </update>

    <update id="deleteBizMnpw" parameterType="bizVO">
        UPDATE biz_mnpw
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE BIZ_MNPW_SN = #{bizMnpwSn}
    </update>

    <select id="selectBizCstList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             C.*
            ,CASE C.CST_SE_CD
                WHEN 'BTEXP' THEN '출장비'
                WHEN 'LDG_CST' THEN '숙박비'
                WHEN 'MEAL_CST' THEN '식대'
                WHEN 'MEETING_CST' THEN '회의비'
                WHEN 'ENTERTAIN' THEN '접대비'
                WHEN 'MTCO' THEN '재료비'
                WHEN 'ETC_CST' THEN '기타비용'
                ELSE C.CST_SE_CD
             END AS CST_SE_NM
        FROM biz_cst C
        WHERE C.BIZ_SN = #{bizSn}
          AND C.USE_YN = 'Y'
        ORDER BY C.OCRN_YMD DESC, C.BIZ_CST_SN DESC
    </select>

    <insert id="insertBizCst" parameterType="bizVO" useGeneratedKeys="true" keyProperty="bizCstSn">
        INSERT INTO biz_cst (
             BIZ_SN, CST_SE_CD, CST_NM, OCRN_CST, OCRN_YMD
            ,RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{bizSn}, #{cstSeCd}, #{cstNm}, IFNULL(#{ocrnCst}, 0), #{ocrnYmd}
            ,#{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateBizCst" parameterType="bizVO">
        UPDATE biz_cst
        SET
             CST_SE_CD = #{cstSeCd}
            ,CST_NM = #{cstNm}
            ,OCRN_CST = IFNULL(#{ocrnCst}, 0)
            ,OCRN_YMD = #{ocrnYmd}
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE BIZ_CST_SN = #{bizCstSn}
    </update>

    <update id="deleteBizCst" parameterType="bizVO">
        UPDATE biz_cst
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE BIZ_CST_SN = #{bizCstSn}
    </update>

    <select id="selectBizSchdlList" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             S.*
            ,U.USER_NM AS PIC_NM
            ,CASE S.SCHDL_SE_CD
                WHEN 'PRE_WORK' THEN '사전작업'
                WHEN 'SUPPORT' THEN '지원'
                WHEN 'REG_MAINT' THEN '정기유지보수'
                WHEN 'ISSUE' THEN '장애대응'
                ELSE S.SCHDL_SE_CD
             END AS SCHDL_SE_NM
        FROM biz_schdl S
        LEFT JOIN user_info U ON S.PIC_ID = U.USER_ID
        WHERE S.BIZ_SN = #{bizSn}
          AND S.USE_YN = 'Y'
        ORDER BY S.SCHDL_BGNG_YMD ASC, S.BIZ_SCHDL_SN ASC
    </select>

    <insert id="insertBizSchdl" parameterType="bizVO" useGeneratedKeys="true" keyProperty="bizSchdlSn">
        INSERT INTO biz_schdl (
             BIZ_SN, SCHDL_NM, SCHDL_CN, SCHDL_SE_CD, SCHDL_BGNG_YMD, SCHDL_END_YMD
            ,PIC_ID, RMRK_CN, USE_YN, RGTR_ID, REG_DT
        ) VALUES (
             #{bizSn}, #{schdlNm}, #{schdlCn}, #{schdlSeCd}, #{schdlBgngYmd}, #{schdlEndYmd}
            ,#{picId}, #{rmrkCn}, 'Y', #{rgtrId}, NOW()
        )
    </insert>

    <update id="updateBizSchdl" parameterType="bizVO">
        UPDATE biz_schdl
        SET
             SCHDL_NM = #{schdlNm}
            ,SCHDL_CN = #{schdlCn}
            ,SCHDL_SE_CD = #{schdlSeCd}
            ,SCHDL_BGNG_YMD = #{schdlBgngYmd}
            ,SCHDL_END_YMD = #{schdlEndYmd}
            ,PIC_ID = #{picId}
            ,RMRK_CN = #{rmrkCn}
            ,MDFR_ID = #{mdfrId}
            ,MDFCN_DT = NOW()
        WHERE BIZ_SCHDL_SN = #{bizSchdlSn}
    </update>

    <update id="deleteBizSchdl" parameterType="bizVO">
        UPDATE biz_schdl
        SET USE_YN = 'N',
            MDFR_ID = #{mdfrId},
            MDFCN_DT = NOW()
        WHERE BIZ_SCHDL_SN = #{bizSchdlSn}
    </update>

    <select id="selectBizProfitSummary" parameterType="bizVO" resultMap="bizResultMap">
        SELECT
             B.BIZ_SN
            ,B.CTRT_AMT
            ,B.VAT_INCL_YN
            ,IFNULL(CST.DIRECT_CST_SUM, 0) AS DIRECT_CST_SUM
            ,IFNULL(MNPW.LABOR_CST_SUM, 0) AS LABOR_CST_SUM
            ,IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0) AS TOTAL_CST_SUM
            ,B.CTRT_AMT - (IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0)) AS PROFIT_AMT
            ,CASE
                WHEN B.CTRT_AMT = 0 THEN 0
                ELSE ROUND((B.CTRT_AMT - (IFNULL(CST.DIRECT_CST_SUM, 0) + IFNULL(MNPW.LABOR_CST_SUM, 0))) / B.CTRT_AMT * 100, 2)
             END AS PROFIT_RATE
        FROM biz_info B
        LEFT JOIN (
            SELECT BIZ_SN, SUM(OCRN_CST) AS DIRECT_CST_SUM
            FROM biz_cst
            WHERE USE_YN = 'Y'
            GROUP BY BIZ_SN
        ) CST ON B.BIZ_SN = CST.BIZ_SN
        LEFT JOIN (
            SELECT BIZ_SN, SUM(INPUT_MCNT * UNTPRC) AS LABOR_CST_SUM
            FROM biz_mnpw
            WHERE USE_YN = 'Y'
            GROUP BY BIZ_SN
        ) MNPW ON B.BIZ_SN = MNPW.BIZ_SN
        WHERE B.BIZ_SN = #{bizSn}
          AND B.USE_YN = 'Y'
    </select>

</mapper>
