<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.TRSolution.trsIbp.resource.mapper.ResourceMapper">
<resultMap id="resourceMap" type="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">
 <id property="resourceSn" column="RESOURCE_SN"/><result property="resourceNm" column="RESOURCE_NM"/><result property="resourceTypeCd" column="RESOURCE_TYPE_CD"/><result property="locationNm" column="LOCATION_NM"/><result property="resourceExpln" column="RESOURCE_EXPLN"/><result property="bookableYn" column="BOOKABLE_YN"/><result property="useModeCd" column="USE_MODE_CD"/><result property="attrText" column="ATTR_TEXT"/>
 <result property="reservationSn" column="RESERVATION_SN"/><result property="schdlSn" column="SCHDL_SN"/><result property="userId" column="USER_ID"/><result property="userNm" column="USER_NM"/><result property="bizId" column="BIZ_ID"/><result property="bizNm" column="BIZ_NM"/><result property="rsvTitle" column="RSV_TITLE"/><result property="bgngDt" column="BGNG_DT"/><result property="endDt" column="END_DT"/><result property="useCn" column="USE_CN"/><result property="rsvSttsCd" column="RSV_STTS_CD"/>
</resultMap>
<select id="selectResourceList" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultMap="resourceMap">
 SELECT R.*, GROUP_CONCAT(CONCAT(A.ATTR_NM,'=',IFNULL(A.ATTR_VALUE,'')) ORDER BY A.SORT_SEQ SEPARATOR '\n') ATTR_TEXT
 FROM resource_info R LEFT JOIN resource_attr A ON A.RESOURCE_SN=R.RESOURCE_SN AND A.USE_YN='Y'
 WHERE R.CO_ID=#{coId} AND R.USE_YN='Y'
 <if test="searchKeyword != null and searchKeyword != ''">AND (R.RESOURCE_NM LIKE CONCAT('%',#{searchKeyword},'%') OR R.LOCATION_NM LIKE CONCAT('%',#{searchKeyword},'%'))</if>
 GROUP BY R.RESOURCE_SN ORDER BY R.RESOURCE_TYPE_CD,R.RESOURCE_NM
</select>
<select id="selectResource" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultMap="resourceMap">SELECT R.*,GROUP_CONCAT(CONCAT(A.ATTR_NM,'=',IFNULL(A.ATTR_VALUE,'')) ORDER BY A.SORT_SEQ SEPARATOR '\n') ATTR_TEXT FROM resource_info R LEFT JOIN resource_attr A ON A.RESOURCE_SN=R.RESOURCE_SN AND A.USE_YN='Y' WHERE R.RESOURCE_SN=#{resourceSn} AND R.CO_ID=#{coId} AND R.USE_YN='Y' GROUP BY R.RESOURCE_SN</select>
<insert id="insertResource" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" useGeneratedKeys="true" keyProperty="resourceSn">INSERT INTO resource_info(CO_ID,RESOURCE_NM,RESOURCE_TYPE_CD,LOCATION_NM,RESOURCE_EXPLN,BOOKABLE_YN,USE_MODE_CD,USE_YN,REG_DT,RGTR_ID) VALUES(#{coId},#{resourceNm},#{resourceTypeCd},#{locationNm},#{resourceExpln},IFNULL(NULLIF(#{bookableYn},''),'Y'),IFNULL(NULLIF(#{useModeCd},''),'TIME'),'Y',NOW(),#{rgtrId})</insert>
<update id="updateResource" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE resource_info SET RESOURCE_NM=#{resourceNm},RESOURCE_TYPE_CD=#{resourceTypeCd},LOCATION_NM=#{locationNm},RESOURCE_EXPLN=#{resourceExpln},BOOKABLE_YN=#{bookableYn},USE_MODE_CD=#{useModeCd},MDFCN_DT=NOW(),MDFR_ID=#{mdfrId} WHERE RESOURCE_SN=#{resourceSn} AND CO_ID=#{coId} AND USE_YN='Y'</update>
<update id="deleteResourceAttrs" parameterType="long">UPDATE resource_attr SET USE_YN='N' WHERE RESOURCE_SN=#{value}</update>
<insert id="insertResourceAttr" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">INSERT INTO resource_attr(RESOURCE_SN,ATTR_NM,ATTR_VALUE,SORT_SEQ,USE_YN) VALUES(#{resourceSn},#{resourceNm},#{resourceExpln},#{sortSeq},'Y')</insert>
<update id="deleteResource" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE resource_info SET USE_YN='N',MDFCN_DT=NOW(),MDFR_ID=#{mdfrId} WHERE RESOURCE_SN=#{resourceSn} AND CO_ID=#{coId} AND USE_YN='Y'</update>
<select id="selectReservationList" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultMap="resourceMap">
 SELECT V.RESERVATION_SN,V.RESOURCE_SN,V.SCHDL_SN,V.USER_ID,U.USER_NM,V.BIZ_ID,B.BIZ_NM,V.RSV_TITLE,DATE_FORMAT(V.BGNG_DT,'%Y-%m-%d %H:%i') BGNG_DT,DATE_FORMAT(V.END_DT,'%Y-%m-%d %H:%i') END_DT,V.USE_CN,V.RSV_STTS_CD,R.RESOURCE_NM,R.RESOURCE_TYPE_CD,R.LOCATION_NM,R.USE_MODE_CD
 FROM resource_reservation V JOIN resource_info R ON R.RESOURCE_SN=V.RESOURCE_SN LEFT JOIN user_info U ON U.USER_ID=V.USER_ID LEFT JOIN biz_info B ON B.BIZ_ID=V.BIZ_ID
 WHERE V.CO_ID=#{coId} AND V.USE_YN='Y' <if test="companyScopeYn != &quot;Y&quot;">AND V.USER_ID=#{userId}</if> ORDER BY V.BGNG_DT DESC,V.RESERVATION_SN DESC
</select>
<select id="selectReservation" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultMap="resourceMap">SELECT V.*,R.RESOURCE_NM FROM resource_reservation V JOIN resource_info R ON R.RESOURCE_SN=V.RESOURCE_SN WHERE V.RESERVATION_SN=#{reservationSn} AND V.CO_ID=#{coId} AND V.USE_YN='Y' <if test="companyScopeYn != &quot;Y&quot;">AND V.USER_ID=#{userId}</if></select>
<select id="selectOverlapCount" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultType="int">SELECT COUNT(*) FROM resource_reservation WHERE RESOURCE_SN=#{resourceSn} AND CO_ID=#{coId} AND USE_YN='Y' AND RSV_STTS_CD='RESERVED' <if test="reservationSn != null">AND RESERVATION_SN != #{reservationSn}</if> AND #{bgngDt} <![CDATA[<]]> END_DT AND #{endDt} <![CDATA[>]]> BGNG_DT</select>
<insert id="insertSchedule" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" useGeneratedKeys="true" keyProperty="schdlSn">INSERT INTO schdl_info(CO_ID,BIZ_ID,SCHDL_SE_CD,VAC_SE_CD,SCHDL_NM,BGNG_DT,END_DT,ALL_DAY_YN,PLACE_NM,SCHDL_CN,USE_YN,REG_DT,RGTR_ID) SELECT #{coId},#{bizId},'RESOURCE',NULL,CONCAT('[자원] ',R.RESOURCE_NM,' - ',#{rsvTitle}),#{bgngDt},#{endDt},'N',R.LOCATION_NM,#{useCn},'Y',NOW(),#{rgtrId} FROM resource_info R WHERE R.RESOURCE_SN=#{resourceSn} AND R.CO_ID=#{coId} AND R.USE_YN='Y' AND R.BOOKABLE_YN='Y'</insert>
<insert id="insertScheduleUser" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">INSERT INTO schdl_user_rel(SCHDL_SN,USER_ID,REG_DT) VALUES(#{schdlSn},#{userId},NOW())</insert>
<insert id="insertReservation" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" useGeneratedKeys="true" keyProperty="reservationSn">INSERT INTO resource_reservation(RESOURCE_SN,CO_ID,USER_ID,BIZ_ID,SCHDL_SN,RSV_TITLE,BGNG_DT,END_DT,USE_CN,RSV_STTS_CD,USE_YN,REG_DT,RGTR_ID) VALUES(#{resourceSn},#{coId},#{userId},#{bizId},#{schdlSn},#{rsvTitle},#{bgngDt},#{endDt},#{useCn},'RESERVED','Y',NOW(),#{rgtrId})</insert>
<update id="updateSchedule" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE schdl_info S JOIN resource_info R ON R.RESOURCE_SN=#{resourceSn} SET S.BIZ_ID=#{bizId},S.SCHDL_NM=CONCAT('[자원] ',R.RESOURCE_NM,' - ',#{rsvTitle}),S.BGNG_DT=#{bgngDt},S.END_DT=#{endDt},S.PLACE_NM=R.LOCATION_NM,S.SCHDL_CN=#{useCn},S.MDFCN_DT=NOW(),S.MDFR_ID=#{mdfrId} WHERE S.SCHDL_SN=#{schdlSn} AND S.CO_ID=#{coId}</update>
<update id="updateReservation" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE resource_reservation SET RESOURCE_SN=#{resourceSn},BIZ_ID=#{bizId},RSV_TITLE=#{rsvTitle},BGNG_DT=#{bgngDt},END_DT=#{endDt},USE_CN=#{useCn},MDFCN_DT=NOW(),MDFR_ID=#{mdfrId} WHERE RESERVATION_SN=#{reservationSn} AND CO_ID=#{coId} <if test="companyScopeYn != &quot;Y&quot;">AND USER_ID=#{userId}</if> AND USE_YN='Y'</update>
<update id="deleteReservation" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE resource_reservation SET USE_YN='N',RSV_STTS_CD='CANCELLED',MDFCN_DT=NOW(),MDFR_ID=#{mdfrId} WHERE RESERVATION_SN=#{reservationSn} AND CO_ID=#{coId} <if test="companyScopeYn != &quot;Y&quot;">AND USER_ID=#{userId}</if></update>
<update id="deleteSchedule" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO">UPDATE schdl_info SET USE_YN='N',MDFCN_DT=NOW(),MDFR_ID=#{mdfrId} WHERE SCHDL_SN=#{schdlSn} AND CO_ID=#{coId}</update>
<select id="selectAvailableBizList" parameterType="kr.co.TRSolution.trsIbp.resource.vo.ResourceVO" resultMap="resourceMap">SELECT B.BIZ_ID,B.BIZ_NM FROM biz_info B WHERE B.CO_ID=#{coId} <if test="companyScopeYn != &quot;Y&quot;">AND (B.RGTR_ID=#{userId} OR EXISTS(SELECT 1 FROM biz_mnpw M WHERE M.BIZ_ID=B.BIZ_ID AND M.USER_ID=#{userId} AND M.USE_YN='Y'))</if> ORDER BY B.BIZ_NM</select>
</mapper>
